@charset "UFT-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/*reset CSS*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background: lightcyan;
}

.wrap {
  /* 모바일 크기는 340px이 정석 */
  width: 340px;
  /* 높이값은 지정 안해도 돼. 자식 컨텐츠가 들어가면 부모요소가 자동으로 감싸줌*/
  padding: 30px;
  background: #fff;
  /* 가로,세로 정중앙 배치 */
  position: absolute;
  top: 50%;
  left: 50%;
  /* 자기 자신 크기의 절반만큼 왼쪽으로 이동 x축 */
  /* 자기 자신 크기의 절반만큼 위쪽으로 이동 y축 */
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

/*nav태그는 시맨틱태그임. block 요소의 특징은 너비값을 지정하지 않아도 부모요소의 100%만큼 자동 설정이 됨. padding을 제외한 나머지 크기만큼 width값이 자동으로 설정되어있음*/
/* .wrap .menu {
  border: 1px solid red;
} */

/* float을 사용할 경우 부모요소가 높이값을 못잡아서 가상요소로 설정해서 부모요소가 자식요소 감쌀수있게함 */
.wrap .menu::after {
  content: "";
  display: block;
  clear: both;
}
.wrap .menu a {
  font-size: 20px;
  color: #666;
}
.wrap .menu a:nth-of-type(1) {
  float: left;
}
.wrap .menu a:nth-of-type(2) {
  float: right;
}

.wrap .profile {
  width: 100%;
  text-align: center;
}

.wrap .profile img {
  width: 200px;
  /* 너비값을 지정하면 height값을 지정안했을 때 자동으로 auto값이 들어온다. 해당 이미지 비율에 맞게 자동으로 설정해줌  */
  /* height: auto; */
  border-radius: 50%;
  box-shadow: 5px 15px 30px rgb(138, 222, 255, 0.8);
  margin-bottom: 20px;
}

.wrap .profile h1 {
  font: bold 22px/1 "arial";
  color: #555;
  margin-bottom: 5px;
}

.wrap .profile p {
  font: 12px/1 "arial";
  color: #bbb;
  margin-bottom: 30px;
}

/* a태그는 inline 요소인데 너비랑 높이를 설정해야하니 block으로 변환 */
.wrap .profile .btnView {
  display: block;
  width: 180px;
  height: 32px;
  margin: 0px auto 20px;
  background: linear-gradient(45deg, aqua, #77d9ff);
  box-shadow: 5px 10px 20px rgba(0, 255, 255, 0.4);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
  font: bold 12px/32px "arial";
  color: #fff;
  border-radius: 16px;
}
